<div class="control-group">
  <label for="createdat" class="control-label">createdat</label>
  <div class="controls">
    <%- contentTag('input', order.createdat, {type:'datetime', class:'span3', name:'createdat'}) %>
  </div>
</div>
<div class="control-group">
  <label for="completedat" class="control-label">completedat</label>
  <div class="controls">
    <%- contentTag('input', order.completedat, {type:'datetime', class:'span3', name:'completedat'}) %>
  </div>
</div>
<div class="control-group">
  <label for="count" class="control-label">count</label>
  <div class="controls">
    <%- contentTag('input', order.count, {type:'number', class:'span2', name:'count'}) %>
  </div>
</div>
<div class="control-group">
  <label for="ware" class="control-label">ware</label>
  <div class="controls">
    <%- selectTag(wares, order.ware, {class:'span6', name:'ware'}) %>
  </div>
</div>
<div class="control-group">
  <label for="place" class="control-label">place</label>
  <div class="controls">
    <%- selectTag(places, order.place, {class:'span6', name:'place'}) %>
  </div>
</div>
<div class="control-group">
  <label for="status" class="control-label">status</label>
  <div class="controls">
    <%- contentTag('input', order.status, {type:'text', class:'span6', name:'status'}) %>
  </div>
</div>
