<div class="control-group">
  <label for="name" class="control-label">Varunamn</label>
  <div class="controls">
    <%- contentTag('input', ware.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="orderno" class="control-label">Ordernummer</label>
  <div class="controls">
    <%- contentTag('input', ware.orderno, {type:'text', class:'span6', name:'orderno'}) %>
  </div>
</div>
<div class="control-group">
  <label for="packaging" class="control-label">Mängd</label>
  <div class="controls">
    <%- contentTag('input', ware.packaging, {type:'text', class:'span6', name:'packaging'}) %>
  </div>
</div>
<div class="control-group">
  <label for="price" class="control-label">Pris (SEK)</label>
  <div class="controls">
    <%- contentTag('input', ware.price, {type:'number', step:'any', class:'span2', name:'price'}) %>
  </div>
</div>
<div class="control-group">
  <label for="storage" class="control-label">Förpackning</label>
  <div class="controls">
    <%- contentTag('input', ware.storage, {type:'text', class:'span6', name:'storage'}) %>
  </div>
</div>
<div class="control-group">
  <label for="position" class="control-label">Skafferiplats</label>
  <div class="controls">
    <%- contentTag('input', ware.position, {type:'text', class:'span6', name:'position'}) %>
  </div>
</div>
