<div class="hero-unit">
  <h2 class="name"><%= ware.name %></h2>
  <%- linkTo('Edit this ware', editWarePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', warePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>Ware Properties</h2>

<div id="wares-list">
<% if (ware) { %>
<% for(var v in places) places[v].placesum = sums[0].placesums[v]; %>
<%- buildTable([{text:"Vara", field:"name"},
                {text:"Ordernummer", field:"orderno"},
                {text:"Paketstorlek", field:"packaging"},
                {text:"Pris (SEK)", field:"price"},
                {text:"Förvaring", field:"storage"},
                {text:"Skafferiplats", field:"position"},
                {text:"Metadata", field:"data"}], [ware], warePath, "id"); %>
<%- buildTable([{text:"Namn", field:"name"},
                {text:"Plats", field:"location"},
                {text:"Lagerstatus", field:"placesum"}
                ], places, placePath, "id", [{text:"Lägg beställning", path:function(a){return "/orders/add/place/"+a}}]); %>
<% } %>
</div>
